DISCORD_TOKEN=MTUwODg4NTA0MDUzNTE3OTI3NA.GPmIPW.Gif_ifTqyKdS1Y47EPKrIGC-knA6_Ujp0DoE-8
CLIENT_ID=1508885040535179274
# Canal onde o bot vai escutar comandos (nome ou ID)
CANAL_COMANDOS=🪷・pantano-code
